.App {
  text-align: center;
  content: center;
}

table{
  margin: 0 auto;
  border-collapse: collapse;
}
.table{
  min-width: 900px;
  width: auto;
  border-collapse:collapse;
  border: 1px solid black;
}

.td{
  padding: 5px 5px 5px 5px;
  border-collapse:collapse;
  border-left: 1px solid black;
  }

input{
width: 40px;
} 


table tfoot{


  border:1px solid black;
 
 
  }

.buttons span:hover{
  cursor: pointer;
}
.buttons span{

  display: inline;
  align-content: space-between;
  min-width: 20px;
  text-align: center;
    margin: 15px;
    
    
}
.buttonblock span{
margin:20px;
}
.innertable{
  min-width: 900px;
  width: auto;
  align-content: center;
  align-content: center;
}
#pagesize{
  margin-left: 150px;
}

thead{
  width: 900px;
border-bottom: 1px solid black;

   align-content: space-between;
   
    justify-items: center;

}
 


